<div class="content py-2 text-white">
    
    <div class="d-flex justify-content-between">
        <h2 class="h4 fw-semibold mb-3">Choose Your Resume Template</h2>
    </div>
    <div class="row g-3">
        <div class="col-md-4" *ngFor="let template of templates">
            <div class="template-card p-4 text-center rounded" (click)="selectTemplate(template)">
                <div class="display-4 mb-3">{{ template.icon }}</div>
                <h3 class="h5 fw-bold">{{ template.name }}</h3>
                <p class="text-secondary small">{{ template.description }}</p>
            </div>
        </div>
    </div>

</div>